body {
    font-family: 'Montserrat', sans-serif;
}

.main-heading {
    font-weight: bold;
    font-size: 6rem;
}

.sub-heading {
    font-size: 1.5rem;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 17px;
    font-size: 15px;
}

#template {
    color: #99C2FF;
    text-decoration: underline;
}

.greet {
    text-align: center;
    margin-top: 5%;
    line-height: 10px;
}

#icons {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}

#about {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    width: 28%;
}

#main {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    /* border: 10px solid brown; */
    justify-content: space-evenly;
    padding-left: 50px;
}

#description {
    line-height: 1.8;
    font-size: 16px;
    text-align: justify;
    text-justify: inter-word;
}

img {
    object-fit: cover;
}

.profile {
    border-radius: 20px;
}

#heading {
    font-size: 35px;
}

.details {
    font-weight: bold;
    font-size: 18px;
}

@media screen and (max-width: 800px) {
    .main-heading {
        font-weight: bold;
        font-size: 48px;
        text-align: left;
        /* border: 10px solid brown; */
        padding-top: 20%;
    }

    .sub-heading {
        font-size: 18px;
        text-align: left;
    }

    .greet {
        line-height: 0.5;
    }

    #main {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
    }

    #about {
        width: 90%;
    }

    .footer {
        margin-top: 60px;
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 23px;

    }
}

@media screen and (max-width: 730px) {
    .sub-heading {
        font-size: 16px;
        text-align: left;
    }
}